body {
  font-family: "Poppins", sans-serif !important;
  background-color: #f4f4f4 !important;
}

section#banner {
  height: 100%;
}

body h1 {
  font-size: 60px;
  color: #1f1f1f;

  @media (max-width: 576px) {
    font-size: 40px;
  }
}

body h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1f1f1f;

  @media (max-width: 576px) {
    font-size: 20px;
  }
}

body h3 {
  font-size: 18px;
  font-weight: 600;
  color: lightpink;
  text-transform: uppercase;

  @media (max-width: 576px) {
    font-size: 15px;
  }
}

body p {
  font-size: 20px;

  @media (max-width: 576px) {
    font-size: 15px;
  }
}
